In [37]:
#import dependencies
import pandas as pd
import datetime as dt
from time import strptime

In [38]:
# 2019 Files to Load
csv_2019_01 = "Resources/JC-201901-citibike-tripdata.csv"
csv_2019_02 = "Resources/JC-201902-citibike-tripdata.csv"
csv_2019_03 = "Resources/JC-201903-citibike-tripdata.csv"
csv_2019_04 = "Resources/JC-201904-citibike-tripdata.csv"
csv_2019_05 = "Resources/JC-201905-citibike-tripdata.csv"
csv_2019_06 = "Resources/JC-201906-citibike-tripdata.csv"
csv_2019_07 = "Resources/JC-201907-citibike-tripdata.csv"
csv_2019_08 = "Resources/JC-201908-citibike-tripdata.csv"
csv_2019_09 = "Resources/JC-201909-citibike-tripdata.csv"
csv_2019_10 = "Resources/JC-201910-citibike-tripdata.csv"
csv_2019_11 = "Resources/JC-201911-citibike-tripdata.csv"
csv_2019_12 = "Resources/JC-201912-citibike-tripdata.csv"

# Read in 2019 Files and store into Pandas data frames
jan_2019_df = pd.read_csv(csv_2019_01)
feb_2019_df = pd.read_csv(csv_2019_02)
mar_2019_df = pd.read_csv(csv_2019_03)
apr_2019_df = pd.read_csv(csv_2019_04)
may_2019_df = pd.read_csv(csv_2019_05)
jun_2019_df = pd.read_csv(csv_2019_06)
jul_2019_df = pd.read_csv(csv_2019_07)
aug_2019_df = pd.read_csv(csv_2019_08)
sep_2019_df = pd.read_csv(csv_2019_09)
oct_2019_df = pd.read_csv(csv_2019_10)
nov_2019_df = pd.read_csv(csv_2019_11)
dec_2019_df = pd.read_csv(csv_2019_12)

jan_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [39]:
# 2020 Files to Load
csv_2020_01 = "Resources/JC-202001-citibike-tripdata.csv"
csv_2020_02 = "Resources/JC-202002-citibike-tripdata.csv"
csv_2020_03 = "Resources/JC-202003-citibike-tripdata.csv"
csv_2020_04 = "Resources/JC-202004-citibike-tripdata.csv"
csv_2020_05 = "Resources/JC-202005-citibike-tripdata.csv"
csv_2020_06 = "Resources/JC-202006-citibike-tripdata.csv"
csv_2020_07 = "Resources/JC-202007-citibike-tripdata.csv"
csv_2020_08 = "Resources/JC-202008-citibike-tripdata.csv"
csv_2020_09 = "Resources/JC-202009-citibike-tripdata.csv"
csv_2020_10 = "Resources/JC-202010-citibike-tripdata.csv"
csv_2020_11 = "Resources/JC-202011-citibike-tripdata.csv"
csv_2020_12 = "Resources/JC-202012-citibike-tripdata.csv"

# Read in 2020 Files and store into Pandas data frames
jan_2020_df = pd.read_csv(csv_2020_01)
feb_2020_df = pd.read_csv(csv_2020_02)
mar_2020_df = pd.read_csv(csv_2020_03)
apr_2020_df = pd.read_csv(csv_2020_04)
may_2020_df = pd.read_csv(csv_2020_05)
jun_2020_df = pd.read_csv(csv_2020_06)
jul_2020_df = pd.read_csv(csv_2020_07)
aug_2020_df = pd.read_csv(csv_2020_08)
sep_2020_df = pd.read_csv(csv_2020_09)
oct_2020_df = pd.read_csv(csv_2020_10)
nov_2020_df = pd.read_csv(csv_2020_11)
dec_2020_df = pd.read_csv(csv_2020_12)

jan_2020_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [40]:
frames = [jan_2019_df,
          feb_2019_df, 
          mar_2019_df, 
          apr_2019_df,
          may_2019_df, 
          jun_2019_df,
          jul_2019_df,
          aug_2019_df,
          sep_2019_df,
          oct_2019_df,
          nov_2019_df,
          dec_2019_df]
result = pd.concat(frames)
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [43]:
frames_2020 = [jan_2020_df,
          feb_2020_df,
          mar_2020_df,
          apr_2020_df,
          may_2020_df,
          jun_2020_df,
          jul_2020_df,
          aug_2020_df,
          sep_2020_df,
          oct_2020_df,
          nov_2020_df,
          dec_2020_df]
result_2020 = pd.concat(frames_2020)
result_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [44]:
clean_df = result
clean_df['gender'] = clean_df['gender'].apply(str)
clean_df['gender'] = clean_df['gender'].str.replace('0', 'Unknown')
clean_df['gender'] = clean_df['gender'].str.replace('1', 'Male')
clean_df['gender'] = clean_df['gender'].str.replace('2', 'Female')
clean_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [45]:
clean_df_2020 = result_2020
clean_df_2020['gender'] = clean_df_2020['gender'].apply(str)
clean_df_2020['gender'] = clean_df_2020['gender'].str.replace('0', 'Unknown')
clean_df_2020['gender'] = clean_df_2020['gender'].str.replace('1', 'Male')
clean_df_2020['gender'] = clean_df_2020['gender'].str.replace('2', 'Female')
clean_df_2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female

In [46]:
clean_df['starttime'] = clean_df['starttime'].apply(str)
clean_df[['StartTimeDate', 'StartTime']] = clean_df.starttime.str.split(" ",expand=True)
clean_df[['StopTimeDate', 'StopTime']] = clean_df.stoptime.str.split(" ",expand=True)
clean_df[['Year', 'Month', 'Day']] = clean_df.StartTimeDate.str.split("-",expand=True)
clean_df['Month'] = clean_df['Month'].apply(str)
clean_df['Month'] = clean_df['Month'].str.replace('12', 'December')
clean_df['Month'] = clean_df['Month'].str.replace('11', 'November')
clean_df['Month'] = clean_df['Month'].str.replace('10', 'October')
clean_df['Month'] = clean_df['Month'].str.replace('01', 'January')
clean_df['Month'] = clean_df['Month'].str.replace('02', 'February')
clean_df['Month'] = clean_df['Month'].str.replace('03', 'March')
clean_df['Month'] = clean_df['Month'].str.replace('04', 'April')
clean_df['Month'] = clean_df['Month'].str.replace('05', 'May')
clean_df['Month'] = clean_df['Month'].str.replace('06', 'June')
clean_df['Month'] = clean_df['Month'].str.replace('07', 'July')
clean_df['Month'] = clean_df['Month'].str.replace('08', 'August')
clean_df['Month'] = clean_df['Month'].str.replace('09', 'September')
clean_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,usertype,birth year,gender,StartTimeDate,StartTime,StopTimeDate,StopTime,Year,Month,Day
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,Subscriber,1993,Male,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790,2019,January,01
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,Subscriber,1972,Female,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050,2019,January,01
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,...,Subscriber,1985,Male,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600,2019,January,01
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,Customer,1969,Unknown,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280,2019,January,01
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,Customer,1969,Unknown,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100,2019,January,01

In [47]:
clean_df_2020['starttime'] = clean_df_2020['starttime'].apply(str)
clean_df_2020[['StartTimeDate', 'StartTime']] = clean_df_2020.starttime.str.split(" ",expand=True)
clean_df_2020[['StopTimeDate', 'StopTime']] = clean_df_2020.stoptime.str.split(" ",expand=True)
clean_df_2020[['Year', 'Month', 'Day']] = clean_df_2020.StartTimeDate.str.split("-",expand=True)
clean_df_2020['Month'] = clean_df_2020['Month'].apply(str)
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('12', 'December')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('11', 'November')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('10', 'October')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('01', 'January')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('02', 'February')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('03', 'March')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('04', 'April')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('05', 'May')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('06', 'June')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('07', 'July')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('08', 'August')
clean_df_2020['Month'] = clean_df_2020['Month'].str.replace('09', 'September')
clean_df_2020.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,usertype,birth year,gender,StartTimeDate,StartTime,StopTimeDate,StopTime,Year,Month,Day
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,...,Subscriber,1984,Female,2020-01-01,00:04:50.1920,2020-01-01,00:08:37.0370,2020,January,01
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,...,Subscriber,1989,Female,2020-01-01,00:16:01.6700,2020-01-01,00:22:19.0800,2020,January,01
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,...,Customer,1989,Male,2020-01-01,00:17:33.8770,2020-01-01,00:22:22.4420,2020,January,01
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,...,Customer,1969,Unknown,2020-01-01,00:32:05.9020,2020-01-01,00:39:21.0660,2020,January,01
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,...,Subscriber,1983,Female,2020-01-01,00:46:19.6780,2020-01-01,00:50:11.3440,2020,January,01

In [48]:
bike_df = clean_df 
bike_df = bike_df[["tripduration", "start station id", "start station name", "start station latitude", "start station longitude", "end station id", "end station latitude", "end station longitude", "bikeid", "usertype", "birth year", "gender", "StartTimeDate", "StartTime", "Year", "Month", "Day"]]
bike_df.head(5)

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartTimeDate,StartTime,Year,Month,Day
0,201,3183,Exchange Place,40.716247,-74.033459,3214,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.7110,2019,January,01
1,505,3183,Exchange Place,40.716247,-74.033459,3638,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.1060,2019,January,01
2,756,3183,Exchange Place,40.716247,-74.033459,3192,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.3400,2019,January,01
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.6430,2019,January,01
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.6010,2019,January,01

In [49]:
bike_df_2020 = clean_df_2020 
bike_df_2020 = bike_df_2020[["tripduration", "start station id", "start station name", "start station latitude", "start station longitude", "end station id", "end station latitude", "end station longitude", "bikeid", "usertype", "birth year", "gender", "StartTimeDate", "StartTime", "Year", "Month", "Day"]]
bike_df_2020.head(5)

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender,StartTimeDate,StartTime,Year,Month,Day
0,226,3186,Grove St PATH,40.719586,-74.043117,3211,40.721525,-74.046305,29444,Subscriber,1984,Female,2020-01-01,00:04:50.1920,2020,January,01
1,377,3186,Grove St PATH,40.719586,-74.043117,3269,40.726012,-74.050389,26305,Subscriber,1989,Female,2020-01-01,00:16:01.6700,2020,January,01
2,288,3186,Grove St PATH,40.719586,-74.043117,3269,40.726012,-74.050389,29268,Customer,1989,Male,2020-01-01,00:17:33.8770,2020,January,01
3,435,3195,Sip Ave,40.730897,-74.063913,3280,40.719282,-74.071262,29278,Customer,1969,Unknown,2020-01-01,00:32:05.9020,2020,January,01
4,231,3186,Grove St PATH,40.719586,-74.043117,3276,40.714584,-74.042817,29276,Subscriber,1983,Female,2020-01-01,00:46:19.6780,2020,January,01

In [20]:
bike_df.dtypes

Trip Duration (seconds)      int64
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                   int64
Gender                      object
Date                        object
Start Time                  object
Year                        object
Month                       object
Day                         object
dtype: object

In [50]:
bike_df['Year'] = bike_df['Year'].apply(int)
bike_df_2020['Year'] = bike_df_2020['Year'].apply(int)

/Users/kaseywilson/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kaseywilson/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
bike_df = bike_df.rename(columns={"tripduration": "Trip Duration (seconds)", "start station id": "Start Station ID", "start station name": "Start Station Name", "start station latitude": "Start Station Latitude", "start station longitude": "Start Station Longitude", "end station id": "End Station ID", "end station latitude": "End Station Latitude", "end station longitude": "End Station Longitude", "bikeid": "Bike ID", "usertype": "User Type", "birth year": "Birth Year", "gender": "Gender", "StartTimeDate": "Date", "StartTime": "Start Time", "Year": "Year", "Month": "Month", "Day": "Day"})
bike_df['Age'] = bike_df['Year'] - bike_df['Birth Year']
bike_df.head()

,Trip Duration (seconds),Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Date,Start Time,Year,Month,Day,Age
0,201,3183,Exchange Place,40.716247,-74.033459,3214,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01,03:09:09.7110,2019,January,01,26
1,505,3183,Exchange Place,40.716247,-74.033459,3638,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01,05:18:00.1060,2019,January,01,47
2,756,3183,Exchange Place,40.716247,-74.033459,3192,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01,10:36:33.3400,2019,January,01,34
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01,12:43:38.6430,2019,January,01,50
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01,12:43:39.6010,2019,January,01,50

In [52]:
bike_df_2020 = bike_df_2020.rename(columns={"tripduration": "Trip Duration (seconds)", "start station id": "Start Station ID", "start station name": "Start Station Name", "start station latitude": "Start Station Latitude", "start station longitude": "Start Station Longitude", "end station id": "End Station ID", "end station latitude": "End Station Latitude", "end station longitude": "End Station Longitude", "bikeid": "Bike ID", "usertype": "User Type", "birth year": "Birth Year", "gender": "Gender", "StartTimeDate": "Date", "StartTime": "Start Time", "Year": "Year", "Month": "Month", "Day": "Day"})
bike_df_2020['Age'] = bike_df_2020['Year'] - bike_df_2020['Birth Year']
bike_df_2020.head()

,Trip Duration (seconds),Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Date,Start Time,Year,Month,Day,Age
0,226,3186,Grove St PATH,40.719586,-74.043117,3211,40.721525,-74.046305,29444,Subscriber,1984,Female,2020-01-01,00:04:50.1920,2020,January,01,36
1,377,3186,Grove St PATH,40.719586,-74.043117,3269,40.726012,-74.050389,26305,Subscriber,1989,Female,2020-01-01,00:16:01.6700,2020,January,01,31
2,288,3186,Grove St PATH,40.719586,-74.043117,3269,40.726012,-74.050389,29268,Customer,1989,Male,2020-01-01,00:17:33.8770,2020,January,01,31
3,435,3195,Sip Ave,40.730897,-74.063913,3280,40.719282,-74.071262,29278,Customer,1969,Unknown,2020-01-01,00:32:05.9020,2020,January,01,51
4,231,3186,Grove St PATH,40.719586,-74.043117,3276,40.714584,-74.042817,29276,Subscriber,1983,Female,2020-01-01,00:46:19.6780,2020,January,01,37

In [27]:
# Export file as a CSV, without the Pandas index, but with the header
bike_df.to_csv("Output/citi_bike_2019_v2.csv", index=False, header=True)

In [53]:
# Export 2020 file as a CSV< without the pandas index, but with the header
bike_df_2020.to_csv("Output/citi_bike_2020.csv", index=False, header=True)

In [58]:
frames_combined = [bike_df,
                   bike_df_2020]
bike_df_combined = pd.concat(frames_combined)
bike_df_combined.tail()

,Trip Duration (seconds),Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Date,Start Time,Year,Month,Day,Age
11689,1750,3199,Newport Pkwy,40.728745,-74.032108,3199,40.728745,-74.032108,40440,Customer,1969,Unknown,2020-12-31,23:07:44.0030,2020,December,31,51
11690,1519,3184,Paulus Hook,40.714145,-74.033552,3195,40.730897,-74.063913,46340,Customer,1969,Unknown,2020-12-31,23:18:00.2630,2020,December,31,51
11691,1761,3195,Sip Ave,40.730897,-74.063913,3270,40.725289,-74.045572,40907,Customer,1998,Male,2020-12-31,23:31:09.4620,2020,December,31,22
11692,637,3681,Grand St,40.715178,-74.037683,3199,40.728745,-74.032108,42250,Customer,1969,Unknown,2020-12-31,23:35:45.4640,2020,December,31,51
11693,1607,3267,Morris Canal,40.712419,-74.038526,3267,40.712419,-74.038526,48742,Subscriber,1982,Male,2020-12-31,23:48:34.5750,2020,December,31,38

In [57]:
# Export 2020 file as a CSV< without the pandas index, but with the header
bike_df_combined.to_csv("Output/citi_bike_2019_2020.csv", index=False, header=True)